[package]
name = "konnekt-session"
version = "0.1.0"
edition = "2021"
description = "A session management library"

[[bin]]
name = "konnekt_session_app"
path = "src/main.rs"

[[bin]]
name = "server"
path = "src/server/main.rs"
needed-features = ["server"]

[lib]
name = "konnekt_session"
path = "src/lib.rs"

[features]
default = ["yew"]
yew = [
    "dep:yew",
    "web-sys",
    "wasm-bindgen-futures",
    "gloo",
    "gloo-net",
    "getrandom/js",
    "wasm-logger",
]
server = ["axum", "hyper", "tokio", "tracing", "tracing-subscriber"]

[dependencies]
async-trait = "0.1.51"
thiserror = "2.0.2"
log = { version = "0.4" }
uuid = { version = "1.0.0", features = [
    "v4",
    "fast-rng",
    "macro-diagnostics",
    "serde",
] }
futures-util = { version = "0.3" }
futures = { version = "0.3" }
getrandom = { version = "0.2" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
js-sys = "0.3"
# Client Dependencies
gloo = { version = "0.11", features = ["timers", "net"], optional = true }
gloo-net = { version = "0.6.0", optional = true, features = ["websocket"] }
web-sys = { version = "0.3", optional = true, features = [
    "HtmlSelectElement",
    "MessageEvent",
    "WebSocket",
] }
wasm-bindgen-futures = { version = "0.4", optional = true }
yew = { version = "0.21", features = ["csr"], optional = true }
wasm-logger = { version = "0.2.0", optional = true }
# Server Dependencies
axum = { version = "0.7", optional = true, features = ["ws"] }
hyper = { version = "1.5.0", optional = true, features = ["server"] }
tokio = { version = "1", features = ["full"], optional = true }
tracing = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
], optional = true }
colorid = "0.0.6"
