name: GitHub Pages

on:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  build_and_deploy_main:
    name: Rust project for main branch
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - uses: jetli/trunk-action@v0.5.0
        with:
          version: "latest"

      - name: Build with Trunk
        working-directory: ./konnekt-session
        env:
          WEBSOCKET_URL: ${{ secrets.WEBSOCKET_URL || 'wss://echo.websocket.events' }}
        run: trunk build --features=yew --release --public-url /konnekt-session/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./konnekt-session/dist
          keep_files: true
